Workspace/.metadata/*
Workspace/.DS_Store*
Workspace/City/html
Workspace/City/latex
*.doxyfile

sample*

.DS_Store*
*.classpath
*.project
*.settings
*APDescription.txt
*MTPs-Main-Container.txt

*.class

# Package Files #
*.jar
*.war
*.ear
*~

Workspace/Algorithm/src/test.java
